@model List<BilliardClub.Models.PoolTable>
<link rel="stylesheet" href="~/css/management.css" type="text/css">

<div class="control">
    <div class="block1">
        <div class="content__block1">
            <div class="category-wrap">
                <h3>Пользователь: @User.Identity.Name</h3>
                <ul>
                    <li><a id="href_to_reserved_tables" href="">Забронированные столы</a></li>
                    <li><a id="href_to_types_tables_and_rotation" href="">Типы столов и угол вращения</a></li>
                    <li><a id="href_to_tables_status_history" href="">История использования столов</a></li>
                    <li><a id="href_to_user_orders" href="">Заказы пользователей</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="content__block2">
            @await Html.PartialAsync("_ReservedTables", Model)
        </div>
    </div>
</div>

<script>
    var button_style = { 'background': 'linear-gradient(to bottom, #121111, #111111)' };
    $('#href_to_reserved_tables').css(button_style);

    $('.category-wrap a').each(function() {
        $(this).click(function() {
            $('li > a').css('background', '');
            $(this).css(button_style);
        });
    });

    $('#href_to_reserved_tables').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_ReservedTables")");
    });

    $('#href_to_types_tables_and_rotation').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_TypesTablesAndRotation")");
    });

    $('#href_to_tables_status_history').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_TablesStatusHistory")");
    });

    $('#href_to_user_orders').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_UserOrders")");
    });
</script>