@model List<BilliardClub.Models.FoodItem>

<link rel="stylesheet" href="~/css/catalog.css" type="text/css">

<div class="container__catalog">
    @foreach (var item in Model)
    {
        <div class="product-wrap">
            <div class="product-item">
                <img src="@item.picturePath">
                <div class="product-buttons">
                    <a href="" class="cart_button">В корзину</a>
                    <input type="hidden" value="@item.id" />
                </div>
            </div>
            <div class="product-title">
                <a href="">@item.title</a>
                <span class="product-price">@item.price.ToString("c")</span>
            </div>
        </div>
    }
</div>

<div id="element_to_pop_up">
    <span class="button b-close">
        <span>X</span>
    </span>
    <div class="center">
        <h2 id="number_table"></h2>
    </div>
    <div class="center">
        <button id="button__reserve"> </button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

<script>
    $('.cart_button').unbind("click").click(function (event) {
        event.preventDefault();
        var productId = $(this).parent().find('input[typeId="hidden"]').val();
        CheckCartOnThisItem(productId);
    });

    function CheckCartOnThisItem(productId) {
        $.ajax({
            url: '@Url.Action("CheckCartOnThisItem")',
            type: 'GET',
            data: { productId: productId }
        }).done(function(result) {
            if (result) {
                ShowErrorMessage();
            } else {
                Reservation(productId);
            }
        });
    }

    function ShowErrorMessage() {
        $('#element_to_pop_up').bPopup({
            fadeSpeed: 'slow',
            followSpeed: 1500,
            onOpen: function() {
                $(this).css('width', '700px');
                $('#number_table').html('Вы уже добавли данный товар в корзину.' +
                    '</br> <br/> Вы можете заказать что-нибудь другое или увеличить кол-во позиций данного товара в личном кабинете.');
                $('#button__reserve').css({
                    'margin-top': '15px',
                    'padding': '5px',
                    'height': 'auto'
                }).text('Перейти в личный кабинет').click(function() {
                    window.location.href = '@Url.Action("Info", "LK")';
                });
            }
        });
    }

    function Reservation(productId) {
        $.ajax({
            url: '@Url.Action("AddToCartProduct")',
            data: { productId: productId },
            type: 'POST',
            beforeSend: function() {
                $('#element_to_pop_up').bPopup({
                    fadeSpeed: 'slow',
                    followSpeed: 1500,
                    onOpen: function() {
                        $('#number_table').html('Товар добавлен в корзину!' +
                            '</br> </br> Вы можете подтвердить заказ в личном кабинете, или выбрать что-то еще.');
                        $('#button__reserve').css({
                            'margin-top': '15px',
                            'padding': '5px',
                            'height': 'auto'
                        }).text('Перейти в личный кабинет').click(function() {
                            window.location.href = '@Url.Action("Info", "LK")';
                        });
                    }
                });
            }
        });
    }

</script>