@model BilliardClub.View_Models.ReservationViewModel
@{
    string divStyle;
    string pStyle;
    Dictionary<string, string> cssStyle = new Dictionary<string, string>()
    {
        ["Русский бильярд"] = "rusb",
        ["Американский пул"] = "poolb"
    };
}

<style>
    body {
        min-width: 1600px;
    }
</style>

<div class="content__reservation">
    <div class="plan">
        @foreach (var poolTable in Model.poolTables)
        {
            divStyle = "left: " + poolTable.tableX + "px;" +
                       "top: " + poolTable.tableY + "px;" +
                       "transform: rotate(" + poolTable.tableRotation.rotationAngle + "deg);" +
                       "position: absolute;";

            pStyle = "transform: rotate(-" + poolTable.tableRotation.rotationAngle + "deg);";

            if (Model.cart.CartPoolTables.Exists(x => x.PoolTable != null
                                                 && x.PoolTable.id == poolTable.id
                                                 && Model.cart.cartId == x.cartId))
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] trigger inMyCart">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
            else if (poolTable.statusTables.Count != 0 && poolTable.statusTables.Last().status.name == "В корзине")
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] trigger inOtherCart">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
            else if (poolTable.statusTables.Count != 0 && poolTable.statusTables.Last().status.name == "Забронирован")
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] trigger reserved">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
            else
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] trigger">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
        }
    </div>
</div>

<div id="element_to_pop_up" style="width: 800px; height: 250px;">
    <span class="button b-close">
        <span>X</span>
    </span>
    <div id="pop_up_body" style="display: flex; align-items: center; justify-content: center; flex-direction: column">
        <div class="center">
            <h2 id="number_table"></h2>
        </div>
        <div class="center">
            <button id="button__reserve"> </button>
        </div>
    </div>
</div>

@if (User.IsInRole("employee"))
{
    <div id="dialog" title="Изменение" style="display: none">
        <p>
            id стола: 
            <span id="tableId"></span>
        </p>
        <p>
            Тип стола:
            <select id="typeId">
                @foreach (var type in Model.typeTables)
                {
                    <option value="@type.id">@type.name</option>
                }
            </select>
        </p>
        <p>
            Поворот стола:
            <select id="rotationId">
                @foreach (var rotation in Model.tableRotations)
                {
                    <option value="@rotation.id">@rotation.rotationAngle</option>
                }
            </select>
        </p>
        <p>
            Текущий статус стола:
            <select id="statusId">
                <option value="-1"> Нет статуса </option>
                @foreach (var status in Model.statusList)
                {
                    <option value="@status.id">@status.name</option>
                }
            </select>
        </p>
        <p>
            Номер стола:
            <input id="number" type="text" style="width: 100px"/>
        </p>
        Изменение расположения:
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: 100px; margin: auto">
            <div></div>
            <div id="up" style="user-select: none; cursor: pointer">&#129137;</div>
            <div></div>
            <div id="left" style="user-select: none; cursor: pointer">&#129136;</div>
            <div></div>
            <div id="right" style="user-select: none; cursor: pointer">&#129138;</div>
            <div></div>
            <div id="down" style="user-select: none; cursor: pointer">&#129139;</div>
            <div></div>
        </div>
        <p>
            tableX:
            <input id="tableX" type="number" style="width: 100px"/>
        </p>
        <p>
            tableY:
            <input id="tableY" type="number" style="width: 100px"/>
        </p>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
{
    <script>
        function ShowReservation(This) {
            var id = $(".id", This).val();
            var numberTable = $(".numberTable", This).text();
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function() {
                    $('#number_table').text('Вы хотите забронировать этот столик (№ ' + numberTable + ') ?');
                    $('#button__reserve').show().text('Забронировать');
                }
            });

            $('#button__reserve').unbind("click").click(function() {

                $(this).prop('disabled', true);
                setTimeout(function() {
                        $(this).prop('disabled', false);
                    }.bind(this),
                    100);

                $.ajax({
                    url: '@Url.Action("AddToCartTable")',
                    data: { id: id },
                    type: 'POST',
                    beforeSend: function() {
                        $('#number_table').html('Стол добавлен в список бронирования!' +
                            '</br> </br> Вы можете подтвердить бронирование в личном кабинете, или выбрать еще 1 стол.');
                        $('#button__reserve').css({
                            'margin-top': '15px',
                            'padding': '5px',
                            'height': 'auto'
                        }).text('Перейти в личный кабинет').click(function() {
                            window.location.href = '@Url.Action("Info", "LK")';
                        });
                        This.addClass('inMyCart');
                    }
                });
            });
        }

        function ShowErrorMessage() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function () {
                    $('#number_table').html('К сожалению, один пользователь может забронировать не более двух столов за раз.' +
                        '</br> <br/> Чтобы забронировать другой стол, удалите ранее добавленные столы в личном кабинете!');
                    $('#button__reserve').css({
                        'margin-top': '15px',
                        'padding': '5px',
                        'height': 'auto'
                    }).text('Перейти в личный кабинет').click(function () {
                        window.location.href = '@Url.Action("Info", "LK")';
                    });
                }
            });
        }

        function ShowMessageInMyCart() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                autoClose: 2500,
                onOpen: function() {
                    $('#number_table').html('Вы уже выбирали этот стол! <br/> <br/> Пожалуйста, выберите другой.');
                    $('#button__reserve').hide();
                }
            });
        }

        function ShowMessageInOtherCart() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                autoClose: 2500,
                onOpen: function () {
                    $('#number_table').html('В данный момент этот стол бронирует кто то другой. <br/> <br/> Пожалуйста, выберите другой стол.');
                    $('#button__reserve').hide();
                }
            });
        }

        function ShowMessageReserved() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                autoClose: 2500,
                onOpen: function () {
                    $('#number_table').html('В данный момент этот стол забронирован. <br/> <br/> Пожалуйста, выберите другой стол.');
                    $('#button__reserve').hide();
                }
            });
        }

        function CheckingNumberTablesInCart(item) {
            $.ajax({
                url: '@Url.Action("CheckingNumberTablesInCart")',
                type: 'GET'
            }).done(function(result) {
                if (result) {
                    if (item.hasClass("inMyCart")) {
                        ShowMessageInMyCart();
                    } else if (item.hasClass("inOtherCart")) {
                        ShowMessageInOtherCart();
                    } else if (item.hasClass("reserved")) {
                        ShowMessageReserved();
                    } else {
                        ShowReservation(item);
                    }
                } else {
                    ShowErrorMessage();
                }
            });
        }

        $('.trigger').unbind("click").click(function () {
            CheckingNumberTablesInCart($(this));
        });

    </script>
}
else
{
    <script>
        $('.trigger').click(function() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function () {
                    $('#number_table').html('Бронирование бильярдных столов возможно только для авторизированных пользователей! <br/> <br/> Пожалуйста, войдите в личный кабинет.');
                    $('#button__reserve').css('margin-top', '50px').text('Войти').click(function() {
                        window.location.href = '@Url.Action("Authorization", "Account")';
                    });
                }
            });
        });
    </script>
}

@if (User.IsInRole("employee"))
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $('.plan').prepend('<a id="add__table__on__plan">Добавить бильярдный стол</a>');

        $('#add__table__on__plan').css({
            'position': 'absolute',
            'left':'93px',
            'top':'77px',
            'font-weight':'bold',
            'color': 'antiquewhite',
            'font-size': 'larger',
            'cursor':'pointer'
        });

        $('#add__table__on__plan').click(function() {
            $.ajax({
                url: "@Url.Action("AddPoolTableInPlan")",
                type: "POST"
            }).done(function() {
                window.location.href = '@Url.Action("Reservation")';
            });
        });

        function ChangeDialog(id)
        {
            $.ajax({
                url: '@Url.Action("GetTableInfo")',
                data: {tableId: id},
                type: 'GET'
            }).done(function (table) {
                $('#tableId').text(table.id);
                $('#typeId option[value="'+ table.idTypeTable +'"]').prop('selected', true);
                $('#rotationId option[value="' + table.idTableRotation + '"]').prop('selected', true);
                console.log(table.idStatus);
                console.log(table.idStatus != -1);
                if (table.idStatus != -1) {
                    $('#statusId option[value="' + table.idStatus + '"]').prop('selected', true);
                } else {
                    $('#statusId option:first').prop('selected', true);
                }
                $('#number').val(table.name);
                $('#tableX').val(table.tableX);
                $('#tableY').val(table.tableY);
            });
        }

        $('#up').click(function () {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableY').val(),
                newValue = --oldValue;
            tableblock.css('top', newValue + 'px');
            $('#tableY').val(newValue);
        });

        $('#down').click(function () {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableY').val(),
                newValue = ++oldValue;
            tableblock.css('top', newValue + 'px');
            $('#tableY').val(newValue);
        });

        $('#left').click(function () {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableX').val(),
                newValue = --oldValue;
            tableblock.css('left', newValue + 'px');
            $('#tableX').val(newValue);
        });

        $('#right').click(function () {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableX').val(),
                newValue = ++oldValue;
            tableblock.css('left', newValue + 'px');
            $('#tableX').val(newValue);
        });

        $('#tableX').change(function() {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableX').val();
            tableblock.css('left', oldValue + 'px');
        });

        $('#tableY').change(function() {
            var tableblock = $('.plan').find('input[value="' + $('#tableId').text() + '"').parent(),
                oldValue = $('#tableY').val();
            tableblock.css('top', oldValue + 'px');
        });

        $('.trigger').each(function () {

            var tableblock = $(this),
                transform = tableblock.find('p').css('transform'),
                right = '-5px',
                top = '-5px';

            if (transform.indexOf("-1") >= 0) {
                right = '105px';
                top = '-10px';
            }

            $('<img src="/img/pencil.png" class="change__table"/>').css({
                'width': '25px',
                'height': '25px',
                'position': 'absolute',
                'background-repeat': 'no-repeat',
                'background-size': 'contain',
                'transform': transform,
                'right': right,
                'top': top
            }).insertAfter(tableblock.find('input[type="hidden"]'));

            var btnChange = tableblock.find('.change__table');

            btnChange.click(function (event) {
                event.stopPropagation();
                ChangeDialog(tableblock.find('.id').val());
                $("#dialog").dialog({
                    resizable: 'false',
                    width: '350px',
                    minHeight: '800px',
                    buttons: [
                        {
                            text: "Удалить стол", click: function () {
                                $.ajax({
                                    url: "@Url.Action("DeletePoolTableInPlan")",
                                    type: "POST",
                                    data: {
                                        'tableId': $('#tableId').text()
                                    }
                                }).done(function() {
                                    window.location.href = '@Url.Action("Reservation")';
                                });
                            }
                        },
                        {
                            text: "Сохранить", click: function () {
                                $.ajax({
                                    url: '@Url.Action("UpdatePoolTable")',
                                    data: {
                                        'tableId': $('#tableId').text(),
                                        'typeId': $('#typeId').val(),
                                        'rotationId': $('#rotationId').val(),
                                        'number': $('#number').val(),
                                        'tableX': $('#tableX').val(),
                                        'tableY': $('#tableY').val(),
                                        'statusId': $('#statusId').val()
                                    },
                                    type: 'POST'
                                }).done(function () {
                                    window.location.href = '@Url.Action("Reservation")';
                                });
                            }
                        }
                    ]
                });
            });
        });

    </script>
}