@using System.Text
@model BilliardClub.View_Models.ReservationViewModel
@{
    string divStyle;
    string pStyle;
    string trclass = "trigger";
    string inMyCart = "inMyCart";
    string inOtherCart = "inOtherCart";
    Dictionary<string, string> cssStyle = new Dictionary<string, string>()
    {
        ["Русский бильярд"] = "rusb",
        ["Амереканский пул"] = "poolb"
    };
}

<div class="content__reservation">
    <div class="plan">
        @foreach (var poolTable in Model.poolTables)
        {
            divStyle = "margin-left: " + poolTable.tableX + "px;" +
                       "margin-top: " + poolTable.tableY + "px;" +
                       "transform: rotate(" + poolTable.tableRotation.rotationAngle + "deg);";

            pStyle = "transform: rotate(-" + poolTable.tableRotation.rotationAngle + "deg);";

            if (Model.cart.CartItems.Exists(x => x.PoolTable.id == poolTable.id))
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] @trclass @inMyCart">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
            else if(poolTable.statusTables.Exists(x => x.status.name == "В корзине"))
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] @trclass @inOtherCart">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
            else
            {
                <div style="@divStyle" class="@cssStyle[poolTable.typeTable.name] @trclass">
                    <p class="numberTable" style="@pStyle">
                        @poolTable.name
                    </p>
                    <input class="id" type="hidden" value="@poolTable.id">
                </div>
            }
        }
    </div>
</div>

<div id="element_to_pop_up">

    <span class="button b-close">
        <span>X</span>
    </span>

    <div class="center">
        <h2 id="number_table"></h2>
    </div>

    <div class="center">
        <button id="button__reserve"> </button>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
{
    <script>
        function ShowReservation(This) {
            var id = $(".id", This).val();
            var numberTable = $(".numberTable", This).text();
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function() {
                    $('#number_table').text('Вы хотите забронировать этот столик (№ ' + numberTable + ') ?');
                    $('#button__reserve').show().text('Забронировать');
                }
            });

            $('#button__reserve').unbind("click").click(function () {
                $(this).prop('disabled', true);
                setTimeout(function() {
                    $(this).prop('disabled', false);
                }.bind(this), 100);
                $.ajax({
                    url: '@Url.Action("AddToCartTable")',
                    data: { id: id },
                    type: 'POST'
                }).done(function () {
                    $('#number_table').html('Стол добавлен в список бронирования!' +
                        '</br> </br> Вы можете подтвердить бронирование в личном кабинете, или выбрать еще 1 стол.');
                    $('#button__reserve').css({
                        'margin-top': '15px',
                        'padding': '5px',
                        'height': 'auto'
                    }).text('Перейти в личный кабинет').click(function () {
                        window.location.href = '@Url.Action("Info", "LK")';
                    });
                    This.addClass('inMyCart');
                });
            });
        }

        function ShowErrorMessage() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function () {
                    $(this).css('width', '700px');
                    $('#number_table').html('К сожалению, один пользователь может забронировать не более двух столов за раз.' +
                        '</br> <br/> Чтобы забронировать другой стол, удалите ранее добавленные столы в личном кабинете!');
                    $('#button__reserve').css({
                        'margin-top': '15px',
                        'padding': '5px',
                        'height': 'auto'
                    }).text('Перейти в личный кабинет').click(function () {
                        window.location.href = '@Url.Action("Info", "LK")';
                    });
                }
            });
        }

        function ShowMessageInMyCart() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                autoClose: 2500,
                onOpen: function() {
                    $(this).css('width', '400px');
                    $('#number_table').html('Вы уже выбирали этот стол! <br/> <br/> Пожалуйста, выберите другой.');
                    $('#button__reserve').hide();
                }
            });
        }

        function ShowMessageInOtherCart() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                autoClose: 2500,
                onOpen: function() {
                    $(this).css('width', '400px');
                    $('#number_table').html('В данный момент этот стол бронирует кто то другой. <br/> <br/> Пожалуйста, выберите другой стол.');
                    $('#button__reserve').hide();
                }
            });
        }

        function CheckingNumberTablesInCart(item) {
            $.ajax({
                url: '@Url.Action("CheckingNumberTablesInCart")',
                type: 'GET'
            }).done(function(result) {
                if (result) {
                    if (item.hasClass("inMyCart")) {
                        ShowMessageInMyCart();
                    } else if (item.hasClass("inOtherCart")) {
                        ShowMessageInOtherCart();
                    } else {
                        ShowReservation(item);
                    }
                } else {
                    ShowErrorMessage();
                }
            });
        }
            
        $('.trigger').unbind("click").click(function () {
            CheckingNumberTablesInCart($(this));
        });

    </script>
}
else
{
    <script>
        $('.trigger').click(function() {
            $('#element_to_pop_up').bPopup({
                fadeSpeed: 'slow',
                followSpeed: 1500,
                onOpen: function () {
                    $(this).css('width', '700px');
                    $('#number_table').html('Бронирование бильярдных столов возможно только для авторизированных пользователей! <br/> <br/> Пожалуйста, войдите в личный кабинет.');
                    $('#button__reserve').css('margin-top', '50px').text('Войти').click(function() {
                        window.location.href = '@Url.Action("Authorization", "Account")';
                    });
                }
            });
        });
    </script>
}