@model BilliardClub.Models.User

<div class="account__settings__block">
    <h1> Настройки аккаунта </h1>
    <div align="left">
        <h2> Основная информамация </h2>
        <p>
            Имя: @Model.firstName
        </p>
        <p>
            Фамилия: @Model.lastName
        </p>
        <p>
            Дата рождения: @Model.BirthDate.ToString("d")
        </p>
        <p>
            Почта: @Model.Email
        </p>
        <p>
            Номер телефона: @Model.PhoneNumber
        </p>
    </div>

    <div align="center">
        <h2>Изменение пароля для пользователя @Model.firstName</h2>
        <form id="change__password__form">
            <div>
                <input class="input__style" name="OldPassword" type="text" placeholder="Старый пароль" />
            </div>
            <div>
                <input class="input__style" name="NewPassword" type="text" placeholder="Новый пароль" />
            </div>
            <div>
                <input class="button" id="button__change__password" type="button" value="Сохранить" />
            </div>
        </form>
        <h2>Изменение почты @Model.Email</h2>
        <form id="change__email__form">
            <div>
                <input class="input__style" name="newEmail" type="text" placeholder="Новая почта" />
            </div>
            <div>
                <input class="button" id="button__change__email" type="button" value="Сохранить" />
            </div>
        </form>
    </div>
</div>

<div id="element_to_pop_up">
    <span class="button b-close">
        <span>X</span>
    </span>
    <div class="center">
        <h2 id="massage"></h2>
    </div>
</div>


<script>
    $('#button__change__password').unbind("click").click(function () {
        $.ajax({
            url: '@Url.Action("ChangePassword")',
            data: $('#change__password__form').serialize(),
            type: 'POST'
        }).done(function (boolResult) {
            if (boolResult) {
                $('#element_to_pop_up').bPopup({
                    fadeSpeed: 'slow',
                    followSpeed: 1500,
                    onOpen: function() {
                        $('#massage').text('Пароль успешно изменен');
                    }
                });   
            } else {
                $('#element_to_pop_up').bPopup({
                    fadeSpeed: 'slow',
                    followSpeed: 1500,
                    onOpen: function() {
                        $('#massage').text('Что то пошло не так!');
                    }
                });
            }
        });
    });
</script>