@model List<BilliardClub.Models.CartItem>

<div class="order__confirm__block">
    <h1> Подтверждение заказа </h1>
    <div class="order__table">
        @if (Model.Count != 0)
        {
            if (Model.Exists(x => x.PoolTable != null))
            {
                <h2> Выбранные столики: </h2>
                <div class="center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Стол № </th>
                                <th> Тип стола </th>
                                <th> Цена/час </th>
                                <th> Кол-во часов </th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody style="color: antiquewhite">
                            @foreach (var item in Model.Where(x => x.PoolTable != null))
                            {
                                <tr class="position" id="@item.PoolTable.id">
                                    <td> №@item.PoolTable.name </td>
                                    <td> @item.PoolTable.typeTable.name </td>
                                    <td>  <span class="price">@item.PoolTable.typeTable.price</span> рублей/час </td>
                                    <td>
                                        <div class="quantity">
                                            <input type="number" min="1" max="6" step="1" value="1" readonly style="user-select: none">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="remove__tr__table"> Удалить </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            if (Model.Exists(x => x.FoodItem != null))
            {
                <h2> Выбранное меню: </h2>
                <div class="center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Название </th>
                                <th> Цена </th>
                                <th> Кол-во </th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody style="color: antiquewhite">
                            @foreach (var item in Model.Where(x => x.FoodItem != null))
                            {
                                <tr class="position" id="@item.FoodItem.id">
                                    <td> @item.FoodItem.title </td>
                                    <td>  <span class="price">@item.FoodItem.price</span> рублей </td>
                                    <td>
                                        <div class="quantity">
                                            <input type="number" min="1" max="15" step="1" value="1" readonly style="user-select: none">
                                        </div>
                                    </td>
                                    <td>
                                        <button class="remove__tr__product"> Удалить </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <h3 align="right" style="margin-right: 20%" id="sumPrice"></h3>
            <div align="center">
                <button id="submit__order"> Подтвердить заказ </button>
            </div>
        }
        else
        {
            <h2> Нет выбранных столиков для бронирования </h2>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $('.remove__tr__table').unbind("click").click(function () {
        var tr = $(this).parent().parent();
        var id = $(tr).attr('id');
        $.ajax({
            url: '@Url.Action("DeleteTableInCart", "LK")',
            type: 'POST',
            data: {id: id}
        }).done(function() {
            $(tr).remove();
        });
    });

    $('.remove__tr__product').unbind("click").click(function () {
        var tr = $(this).parent().parent();
        var id = $(tr).attr('id');
        $.ajax({
            url: '@Url.Action("DeleteProductInCart", "LK")',
            type: 'POST',
            data: {id: id}
        }).done(function() {
            $(tr).remove();
        });
    });

    $('#sumPrice').text('Сумма заказа ' + SumOrderPrice() + ' руб.');
    $('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    $('.quantity').each(function() {
        var spinner = $(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

        btnUp.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
            $('#sumPrice').text('Сумма заказа ' + SumOrderPrice() + ' руб.');
        });

        btnDown.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
            $('#sumPrice').text('Сумма заказа ' + SumOrderPrice() + ' руб.');
        });
    });

    function SumOrderPrice() {
        var sum = 0;
        $('.position').each(function() {
            var rowPosition = $(this),
                price = rowPosition.find('.price').text(),
                quantity = rowPosition.find('input[type="number"]').val();
            sum += price * quantity;
        });
        return sum;
    }

    $('#submit__order').unbind("click").click(function () {
        var sum = SumOrderPrice();
        $.ajax({
            url: '@Url.Action("ConfirmOrder")',
            data: { cheque: sum },
            type: 'POST'
        }).done(function () {
            $('.order__table').hide();
            alert("Заказ подтвержден");
        });
    });

</script>

